<div class="container">
    <h2>Go to the details of this client.</h2>
    <div class="form">
        <a href="/client/{{id}}">Go to the details of this client.</a>
        <a href="/client">Back to the list of clients.</a>
    </div>
</div>